p {
  margin-top: 0px;
  margin-bottom: 1em;
}
#at-editor {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}
.at-wrapper > #at-editable[placeholder]:empty:before {
  content: attr(placeholder);
  color: #AAA;
}
.at-wrapper > #at-editable[placeholder]:empty:focus:before {
  content: "";
}
#at-editor > .at-toolbar {
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #e3e3e3;
}
.at-action_section {
  margin-left: auto;
}
#at-editor > .at-sub {
  height: 45px;
  background: #f8f8f8;
  display: none;
  padding: 8px 20px 0px 20px;
}
.at-toolbarBtn {
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}
.at-toolbarBtn:hover::before {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0,0,0.9);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s all ease-in-out;
}
.at-toolbarBtn:hover {
  background-color: #e8e8e8;
  transition: 0.3s all ease-in-out;
}
.at-toolbarBtn:focus {
  background-color: #e8e8e8;
  transition: 0.3s all ease-in-out;
  outline: 0 none;
}
.at-wrapper {
  min-height: 100px;
  border-bottom: 1px solid #e3e3e3;
}
.at-wrapper > #at-editable {
  box-sizing: border-box;
  position: relative;
  padding: 10px 20px;
  line-height: 26px;
  min-height: 100px;
  outline: none;
  z-index: 2;
}
.at-wrapper > #at-editable:focus {
  outline: 0 none;
}
.at-footer {
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
  font-size: 18px;
  color: #5d5d5d;
}
#at-undo {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920724/AT-Editor/undo_nkerqc.svg');
  background-size: 27px;
}
#at-undo:hover::before {
  content: 'Undo';
}
#at-redo {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920722/AT-Editor/redo_nm9rh3.svg');
  background-size: 27px;
}
#at-redo:hover::before {
  content: 'Redo';
}
#at-bold {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581921094/AT-Editor/bold_zp6b4y.svg');
  background-size: 27px;
}
#at-bold:hover::before {
  content: 'Bold';
}
#at-italic {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577799432/AT-Editor/at-italic_ijhixe.svg');
}
#at-italic:hover::before {
  content: 'Italic';
}
#at-underline {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577799808/AT-Editor/at-underline_lsrzhg.svg');
}
#at-underline:hover::before {
  content: 'Underline';
}
#at-textMore {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920722/AT-Editor/moreText_permdk.svg');
}
#at-textMore:hover::before {
  content: 'More Text';
}
#at-strike {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920723/AT-Editor/strike_sewedp.svg');
}
#at-strike:hover::before {
  content: 'Strikethrough';
}
#at-subScript {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920723/AT-Editor/subScript_ouqmgl.svg');
}
#at-subScript:hover::before {
  content: 'Subscript';
}
#at-superScript {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920724/AT-Editor/superScript_hjffv5.svg');
}
#at-superScript:hover::before {
  content: 'Superscript';
}
#at-fontFamily {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581922141/AT-Editor/FontFamily_b8krby.svg');
}
#at-fontFamily:hover::before {
  content: 'Font Family';
}
#at-fontSize {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920719/AT-Editor/fontSize_ulwt9j.svg');
}
#at-fontSize:hover::before {
  content: 'Font Size';
}
#at-fontColor {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581922264/AT-Editor/fontColor_zldnhr.svg');
}
#at-fontColor:hover::before {
  content: 'Font Color';
}
#at-backgroundColor {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920719/AT-Editor/backgroundColor_gwjxcl.svg');
}
#at-backgroundColor:hover::before {
  content: 'Background Color';
}
#at-clearFormate {
  background-size: 28px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920719/AT-Editor/ClearFontStyle_ikkfhm.svg');
}
#at-clearFormate:hover::before {
  content: 'Clear Formatting';
}
#at-left {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577804832/AT-Editor/at-left_lgfdbj.svg');
}
#at-left:hover::before {
  content: 'Left Align';
}
#at-right {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577804906/AT-Editor/at-right_xf4ifg.svg');
}
#at-right:hover::before {
  content: 'Right Align';
}
#at-center {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577805039/AT-Editor/at-center_uxovk7.svg');
}
#at-center:hover::before {
  content: 'Center Align';
}
#at-paragraphMore {
  background-size: 27px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920721/AT-Editor/morePara_ccavdf.svg');
}
#at-paragraphMore:hover::before {
  content: 'More Paragraph';
}
#at-justify {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581924185/AT-Editor/justify_xftvqk.svg');
}
#at-justify:hover::before {
  content: 'justify';
}#at-lineHeight {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920721/AT-Editor/lineHeight_icyzoq.svg');
}
#at-lineHeight:hover::before {
  content: 'Line Height';
}#at-decreaseIndent {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581924264/AT-Editor/decreaseIndent_fb6fpw.svg');
}
#at-decreaseIndent:hover::before {
  content: 'Decrease Indent';
}#at-increaseIndent {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920721/AT-Editor/increaseIndent_q3hyn9.svg');
}
#at-increaseIndent:hover::before {
  content: 'Increase Indent';
}#at-quote {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920723/AT-Editor/quote_eertun.svg');
}
#at-quote:hover::before {
  content: 'Quote';
}
#at-ol {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581921193/AT-Editor/orderdList_pdamoa.svg');
}
#at-ol:hover::before {
  content: 'Ordered List';
}
#at-ul {
  background-size: 26px;
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1581920724/AT-Editor/unorderedList_z324yd.svg');
}
#at-ul:hover::before {
  content: 'Unordered List';
}
#at-link {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577806192/AT-Editor/at-link_egwu9m.svg');
}
#at-link:hover::before {
  content: 'Link URL';
}
#at-emoji {
  background-image: url('https://res.cloudinary.com/dc5qvh0ye/image/upload/v1577806409/AT-Editor/at-emoji_hy3lxv.svg');
}
#at-emoji:hover::before {
  content: 'Emoji';
}
.at-toolbar .at-misll_section .at-misllBtn {
  position: relative;
}
.linkPopup {
  position: absolute;
  width: 270px;
  background-color: #fff;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 5px;
  left: 102px;
  display: none;
  z-index: 99999;
}
.linkPopup > .form_wrapper {
  padding: 20px;
}
.link_group {
  margin-bottom: 15px;
}
label {
  cursor: pointer;
}
.float_label {
  display: block;
  position: absolute;
  top: 29px;
  left: 26px;
  transition: 0.3s all ease-in-out;
  color: grey;
}
.float_input {
  width: 100%;
  height: 35px;
  border-radius: 1px;
  border: 1px solid #999;
  padding-left: 10px;
  box-sizing: border-box;
}
.float_input:focus {
  outline: 0 none;
}
.float_input:not(:placeholder-shown) + .float_label, .float_input:focus + .float_label{
  top: 13px;
  left: 27px;
  font-size: 12px;
  background-color: #fff;
}
input#url_target {
  position: relative;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 1px solid #999;
  background-color: #fff;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}
input#url_target:focus {
  outline: 0 none;
}
input#url_target:checked {
  border: 1px solid #0098f7;
}
input#url_target:checked::after {
  content: '';
  width: 14px;
  height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #0098f7;
}
.url_btnWrapper {
  display: flex;
  justify-content: flex-end;
}
button#url_insert {
  width: 85px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #0098f7;
  background: #fff;
  font-size: 16px;
  color: #0098f7;
  cursor: pointer;
}
button#url_insert:hover {
  transition: 0.2s all ease-in-out;
  background: #0098f7;
  color: #fff;
}
.at-btnDropDown {
  background-position-x: 0px;
  width: 40px;
}
.at-btnDropDown::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #000;
  clip-path: polygon(50% 50%, 0 0, 100% 0);
  right: 3px;
}
.at-dropdown_wrapper {
  position: relative;
  display: inline-block;
}
.at-dropdown {
  display: none;
  position: absolute;
  left: 9px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 9999;
}
ul.at-list {
  list-style: none;
  margin: 0;
  padding: 10px 0px;
}
ul.at-list li {
  padding: 5px 20px;
  white-space: nowrap;
  display: block;
  cursor: pointer;
}
ul.at-list li:hover {
  background-color: #e2e2e2;
}
.at-swatch_wrapper {
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.at-swatch_wrapper > .at-swatch:hover {
  box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
}
.at-colorPicker {
  padding: 10px;
}
#at-colorPicker {
  cursor: pointer;
	-webkit-appearance: none;
	border: none;
	width: calc(100% - 60px);
  height: 30px;
  outline: o none;
}
#at-colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}
#at-colorPicker::-webkit-color-swatch {
	border: none;
}
#at-colorOK {
  border: none;
  background: #fff;
  padding: 7px 15px;
  height: 30px;
  color: #0098f7;
  position: relative;
  top: -10px;
  cursor: pointer;
  border: 1px solid #0098f7;
  border-radius: 3px;
}
#at-colorOK:focus {
  outline: o none;
}
blockquote {
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}
.at-wrapper {
  position: relative;
}
div.readonly {
  color: rgba(0,0,0,0) !important;
}
div.readonly, #at-editable {
  white-space: wrap;
  top: 0;
  left: 0;
}

span.highlight {
  background: rgba(255, 95, 95, 0.2) !important;
  margin: 0px;
  padding: 0;
  position: relative;
  top: 0;
}

.left, .mid, .right {
  display:inline-block;
  padding: 40px;
  vertical-align: top;
}
/* .readonly .emojioneemoji, .readonly a {
  display: none;
} */
#at-editable {
  color: rgba(0,0,0,0);
  height: auto; 
  font-family: arial; 
  padding: 3px 18px 3px 10px; 
  position: relative;
  z-index: 1;
  margin: 0;
  line-height: unset;
  width: 100%;
  background: transparent;
  caret-color: #000;
 }
#at-editable a, #at-editable span, div.readonly span {
  color: rgba(0,0,0,0) !important;
}
#at-editable a, #at-editable span, #at-output span {
  background-color: rgba(0,0,0,0) !important;
}
#at-output .at-hashtag, #at-output a {
  color: #007bff;
}
#at-hashtag, div.readonly {
  width: 100%;
  height: auto; 
  position: absolute; 
  z-index: 0; 
  font-family: arial; 
  padding: 10px 20px; 
  margin: 0; 
  background-color: transparent;
  color: rgba(0,21,5,0.9);
  top: 0;
  line-height: 26px;
  box-sizing: border-box;
 }
 #at-output br:nth-child(1) {
   display : none;
 }
 #at-output div {
   min-height: 26px;
 } 